In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle
import requests
import json
import os
import glob
import plotly.express as px

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
# # map drive to retrieve datasets
# from google.colab import drive
# drive.mount('/content/Drive')

# # map drive to retrieve datasets
# from google.colab import drive
# drive.mount('/content/Drive')

# import dataset
df = pd.read_csv('./data/merged_violence_laws.csv')
df.head(5)

,Unnamed: 0,state,n_killed,n_injured,year,felony,invcommitment,invoutpatient,danger,drugmisdemeanor,...,expartedating,dvrosurrender,dvrosurrendernoconditions,dvrosurrenderdating,expartesurrender,expartesurrendernoconditions,expartesurrenderdating,dvroremoval,stalking,lawtotal
0,0,Alabama,488,761,2016,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,10
1,1,Alaska,88,103,2016,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,2,Arizona,277,294,2016,1,1,1,1,0,...,0,0,0,0,0,0,0,0,1,8
3,3,Arkansas,190,351,2016,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,11
4,4,California,1265,1896,2016,1,1,0,1,0,...,1,1,1,1,1,1,1,1,1,104

In [6]:
df = df.set_index('state')
df = df.reset_index(drop=False)
df = df.drop(['year','Unnamed: 0'], axis=1)
df.head(5)

,state,n_killed,n_injured,felony,invcommitment,invoutpatient,danger,drugmisdemeanor,alctreatment,alcoholism,...,expartedating,dvrosurrender,dvrosurrendernoconditions,dvrosurrenderdating,expartesurrender,expartesurrendernoconditions,expartesurrenderdating,dvroremoval,stalking,lawtotal
0,Alabama,488,761,0,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,10
1,Alaska,88,103,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,Arizona,277,294,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1,8
3,Arkansas,190,351,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,11
4,California,1265,1896,1,1,0,1,0,0,1,...,1,1,1,1,1,1,1,1,1,104

In [7]:
# rename columns
df.rename(columns={'n_killed':'deaths', 'n_injured':'injuries'}, inplace=True)

In [8]:
df.deaths.describe()

count      50.000000
mean      299.200000
std       312.149101
min        13.000000
25%        68.500000
50%       206.000000
75%       426.750000
max      1313.000000
Name: deaths, dtype: float64

In [9]:
# Importing the dataset for ML
ml_df = df[['lawtotal', 'deaths']].copy()
X = ml_df.iloc[:, :-1].values
y = ml_df.iloc[:, 1].values
ml_df

    lawtotal  deaths
0         10     488
1          3      88
2          8     277
3         11     190
4        104    1265
5         30     207
6         88      68
7         38      42
8         21    1001
9          6     548
10        79      34
11         2      34
12        65     946
13        12     420
14        25      70
15         4     125
16         7     288
17        12     527
18        11      18
19        64     429
20       101     112
21        21     385
22        41     108
23         2     290
24         7     515
25         4      42
26        22      57
27        15     205
28        10      20
29        67     297
30        10     122
31        74     416
32        30     576
33        14      18
34        16     628
35         9     243
36        35      95
37        37     556
38        42      14
39        12     387
40         5      23
41        22     470
42        18    1313
43        11      70
44         6      13
45        13     398
46        43     183
47        18      99
48        23     222
49         8      18

In [10]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1/3, random_state = 0)

In [11]:
# Fitting Simple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [12]:
# Predicting the Test set results
y_pred = regressor.predict(X_test)

In [13]:
# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

In [14]:
# Loading model to compare the results
model = pickle.load( open('model.pkl','rb'))
print(model.predict([[5]]))

[322.55132942]