In [8]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle
import requests
import json
import os
import glob
import plotly.express as px

In [9]:
import warnings
warnings.filterwarnings('ignore')

In [10]:
# map drive to retrieve datasets
from google.colab import drive
drive.mount('/content/Drive')

# map drive to retrieve datasets
from google.colab import drive
drive.mount('/content/Drive')

Drive already mounted at /content/Drive; to attempt to forcibly remount, call drive.mount("/content/Drive", force_remount=True).
Drive already mounted at /content/Drive; to attempt to forcibly remount, call drive.mount("/content/Drive", force_remount=True).

In [11]:
# import dataset
df = pd.read_csv('/content/Drive/MyDrive/Final_Project/segment_2_machine_learning/Cleaning_ML/merged_df.csv')
df.head(5)

  state_year  lawtotal  rate  deaths deaths_above_below_mean
0    AL_2015        10  19.6     958     above_national_mean
1    AK_2015         3  23.4     177     below_national_mean
2    AZ_2015         8  13.8     970     above_national_mean
3    AR_2015        11  16.9     520     below_national_mean
4    CA_2015       102   7.7    3095     above_national_mean

In [12]:
# set index
df = df.set_index('state_year')

df.head(5)

            lawtotal  rate  deaths deaths_above_below_mean
state_year
AL_2015           10  19.6     958     above_national_mean
AK_2015            3  23.4     177     below_national_mean
AZ_2015            8  13.8     970     above_national_mean
AR_2015           11  16.9     520     below_national_mean
CA_2015          102   7.7    3095     above_national_mean

In [13]:
# Importing the dataset for ML
ml_df = df[['lawtotal', 'deaths']].copy()
X = ml_df.iloc[:, :-1].values
y = ml_df.iloc[:, 1].values
ml_df

            lawtotal  deaths
state_year
AL_2015           10     958
AK_2015            3     177
AZ_2015            8     970
AR_2015           11     520
CA_2015          102    3095
...              ...     ...
VA_2020           25    1174
WA_2020           55     864
WV_2020           18     325
WI_2020           23     717
WY_2020            7     154

[300 rows x 2 columns]

In [14]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1/3, random_state = 0)

In [15]:
# Fitting Simple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [16]:
# Predicting the Test set results
y_pred = regressor.predict(X_test)

In [17]:
# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

In [18]:
# Loading model to compare the results
model = pickle.load( open('model.pkl','rb'))
print(model.predict([[60]]))

[943.3992495]