In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

In [2]:
# Import the data for inpection
accidental_deaths = pd.read_csv('accidental deaths 2018-2022.csv')
gun_data = pd.read_csv('Gun Data, Codebook, and OLS Regression Outputs - Gun Data.csv')
gun_law_2020 = pd.read_csv('gun law provisions by year (through 2020) and state.csv')
gun_violence_2013_2018 = pd.read_csv('gun-violence-data_01-2013_03-2018 (1).csv')

## Clean the Accidental Deaths 2018 - 2022 CSV file

In [3]:
# Look at the columns of accidental_deaths
accidental_deaths.count()

Incident ID       2000
Incident Date     2000
State             2000
City Or County    2000
Address           1898
# Killed          2000
# Injured         2000
Operations           0
dtype: int64

In [4]:
# Inspect the data in the Incident Date column
accidental_deaths['Incident Date']

0       October 21, 2022
1       October 19, 2022
2       October 19, 2022
3       October 19, 2022
4       October 18, 2022
              ...
1995     October 8, 2018
1996     October 8, 2018
1997     October 7, 2018
1998     October 7, 2018
1999     October 7, 2018
Name: Incident Date, Length: 2000, dtype: object

In [5]:
# Splitting the Incident Date column into three separate columns
accidental_deaths[['month', 'day', 'date']] = accidental_deaths['Incident Date'].str.split(" ", expand=True)

In [6]:
# Confirm the values of the date columns
accidental_deaths['date']

0       2022
1       2022
2       2022
3       2022
4       2022
        ...
1995    2018
1996    2018
1997    2018
1998    2018
1999    2018
Name: date, Length: 2000, dtype: object

In [7]:
# Rename the date column to year
accidental_deaths.rename(columns={'Incident ID':'incident_id', "State":'state', '# Killed':'n_killed', '# Injured':'n_injured', 'date':'year'}, inplace=True)

In [8]:
accidental_deaths = accidental_deaths.drop(['Operations', 'Address', 'Incident Date', 'month', 'day', 'City Or County'], axis=1)

In [9]:
accidental_deaths = accidental_deaths.sort_values(['year'], ascending = True)
accidental_deaths

      incident_id     state  n_killed  n_injured  year
1999      1227183     Texas         1          0  2018
1920      1274244  New York         1          0  2018
1921      1273747      Iowa         1          0  2018
1922      1275310      Iowa         1          0  2018
1923      1273048  Oklahoma         1          0  2018
...           ...       ...       ...        ...   ...
237       2275341     Texas         1          0  2022
238       2273835   Georgia         1          0  2022
239       2274050      Ohio         1          0  2022
175       2312692   Indiana         1          0  2022
0         2442581     Texas         1          0  2022

[2000 rows x 5 columns]

## Clean the Gun Data CSV

In [10]:
# Convert the columns to a list
gun_data.columns.tolist()

['State',
 'Year',
 'Gini-Indx',
 'PopDens',
 'Pov.%',
 'GnLwRnk (Low is strict)',
 'Pop.',
 'StateSqMi',
 'AllVlntCrm',
 'AllMrdr',
 'GunHom.Rate100k',
 'RapeRvsd',
 'RapeLgcy',
 'Robbery',
 'AggvtdAsslt',
 'MassShoot',
 'MassShoot100k',
 'MasShootY',
 'FirearmSuic',
 'AllSuic',
 'House%OwnGuns',
 'PolicKilledGun',
 'PoliceKilledGun100k',
 'NumOfPoliceOfficers',
 'PoliceOfficers100k',
 'GunRnkCATO',
 'GunRnkEvryTwn',
 'GunRnkAVG',
 'PrcntBlck',
 'PrcntHispORLat',
 'PrtyRepub.',
 'PrtyDemoc.',
 'AlchlPerCap',
 'MntlHlthRnk',
 'PrcntHSchl',
 'PrcntBchlr',
 'RdntHntLic',
 'RdntHntLic100k',
 'GunShow100k',
 'PrcntPopVet',
 'PrcntPopUrbn',
 'PrcntEvang.',
 'CntryV.Rck',
 'B5E',
 'B5A',
 'B5C',
 'B5N',
 'B5O',
 'IATScore',
 'UnHyphAm.',
 'PrcntUnHyphAm.',
 'PrcntConsrv',
 'FxNwsCnsmp.',
 'HnrCultr',
 'CensS',
 'CensNE',
 'CensMW',
 'CensW',
 'MnMrdrWmn']

In [11]:
# Deleting Unneeded columns
gun_data = gun_data.drop(['Gini-Indx','Pov.%','PrcntBlck','PrcntHispORLat','PrtyRepub.','PrtyDemoc.','AlchlPerCap','StateSqMi','B5E','B5A',
                'B5C','B5N','B5O','IATScore','HnrCultr','UnHyphAm.','PrcntUnHyphAm.','PrcntPopVet','PrcntPopUrbn','PrcntEvang.','CntryV.Rck',
                'AllMrdr','PrcntHSchl','PrcntBchlr','PrcntConsrv','AggvtdAsslt','AllSuic','AllVlntCrm','CensMW','CensNE','CensS','CensW',
                'MnMrdrWmn','RapeRvsd','Robbery', 'FxNwsCnsmp.','MntlHlthRnk','NumOfPoliceOfficers','PolicKilledGun','PoliceKilledGun100k',
                'PoliceOfficers100k','RapeLgcy'
              ], axis=1)

In [12]:
sorted(gun_data.columns.tolist())

['FirearmSuic',
 'GnLwRnk (Low is strict)',
 'GunHom.Rate100k',
 'GunRnkAVG',
 'GunRnkCATO',
 'GunRnkEvryTwn',
 'GunShow100k',
 'House%OwnGuns',
 'MasShootY',
 'MassShoot',
 'MassShoot100k',
 'Pop.',
 'PopDens',
 'RdntHntLic',
 'RdntHntLic100k',
 'State',
 'Year']

## Inspect gun law provisions by year (through 2020) and state.csv

In [13]:
#Count the non-null values
gun_law_2020.count()

state                           1500
year                            1500
felony                          1500
invcommitment                   1500
invoutpatient                   1500
                                ...
expartesurrendernoconditions    1500
expartesurrenderdating          1500
dvroremoval                     1500
stalking                        1500
lawtotal                        1500
Length: 137, dtype: int64

In [14]:
# Convert the columns into a list
gun_law_2020.columns.tolist()

['state',
 'year',
 'felony',
 'invcommitment',
 'invoutpatient',
 'danger',
 'drugmisdemeanor',
 'alctreatment',
 'alcoholism',
 'relinquishment',
 'violent',
 'violenth',
 'violentpartial',
 'dealer',
 'dealerh',
 'recordsall',
 'recordsallh',
 'recordsdealer',
 'recordsdealerh',
 'reportall',
 'reportallh',
 'reportdealer',
 'reportdealerh',
 'purge',
 'residential',
 'theft',
 'security',
 'inspection',
 'ammlicense',
 'ammrecords',
 'permit',
 'permith',
 'fingerprint',
 'training',
 'permitlaw',
 'registration',
 'registrationh',
 'defactoreg',
 'defactoregh',
 'ammpermit',
 'ammrestrict',
 'age21handgunsale',
 'age18longgunsale',
 'age21longgunsaled',
 'age21longgunsale',
 'age21handgunpossess',
 'age18longgunpossess',
 'age21longgunpossess',
 'loststolen',
 'amm18',
 'amm21h',
 'universal',
 'universalh',
 'gunshow',
 'gunshowh',
 'universalpermit',
 'universalpermith',
 'backgroundpurge',
 'ammbackground',
 'threedaylimit',
 'mentalhealth',
 'statechecks',
 'statechecksh',
 'waiting',
 'waitingh',
 'assault',
 'onefeature',
 'assaultlist',
 'assaultregister',
 'assaulttransfer',
 'magazine',
 'tenroundlimit',
 'magazinepreowned',
 'onepermonth',
 'traffickingbackground',
 'traffickingprohibited',
 'traffickingprohibitedh',
 'strawpurchase',
 'strawpurchaseh',
 'microstamp',
 'gvro',
 'gvrolawenforcement',
 'college',
 'collegeconcealed',
 'elementary',
 'opencarryh',
 'opencarryl',
 'opencarrypermith',
 'opencarrypermitl',
 'permitconcealed',
 'mayissue',
 'showing',
 'ccbackground',
 'ccbackgroundnics',
 'ccrenewbackground',
 'ccrevoke',
 'nosyg',
 'personalized',
 'lockd',
 'lockp',
 'locked',
 'lockstandards',
 'capliability',
 'capaccess',
 'capuses',
 'capunloaded',
 'cap18',
 'cap16',
 'cap14',
 'junkgun',
 'liability',
 'immunity',
 'preemption',
 'preemptionnarrow',
 'preemptionbroad',
 'mcdv',
 'mcdvdating',
 'mcdvsurrender',
 'mcdvsurrendernoconditions',
 'mcdvsurrenderdating',
 'mcdvremovalallowed',
 'mcdvremovalrequired',
 'incidentremoval',
 'incidentall',
 'dvro',
 'dvrodating',
 'exparte',
 'expartedating',
 'dvrosurrender',
 'dvrosurrendernoconditions',
 'dvrosurrenderdating',
 'expartesurrender',
 'expartesurrendernoconditions',
 'expartesurrenderdating',
 'dvroremoval',
 'stalking',
 'lawtotal']

In [15]:
# Check the data type of the year 
gun_law_2020['year'].dtypes

# Filter the dataset by years from 200-2020
gun_law_2020 = gun_law_2020[gun_law_2020['year'] >= 2000]

In [16]:
gun_law_2020.dtypes

state                           object
year                             int64
felony                           int64
invcommitment                    int64
invoutpatient                    int64
                                 ...
expartesurrendernoconditions     int64
expartesurrenderdating           int64
dvroremoval                      int64
stalking                         int64
lawtotal                         int64
Length: 137, dtype: object

## Gun Violence Data

In [17]:
# Review all columns
gun_violence_2013_2018.columns.tolist()

['incident_id',
 'date',
 'state',
 'city_or_county',
 'address',
 'n_killed',
 'n_injured',
 'incident_url',
 'source_url',
 'incident_url_fields_missing',
 'congressional_district',
 'gun_stolen',
 'gun_type',
 'incident_characteristics',
 'latitude',
 'location_description',
 'longitude',
 'n_guns_involved',
 'notes',
 'participant_age',
 'participant_age_group',
 'participant_gender',
 'participant_name',
 'participant_relationship',
 'participant_status',
 'participant_type',
 'sources',
 'state_house_district',
 'state_senate_district']

In [18]:
# split the date column into separate columns for date, day, month
# replace date with year
gun_violence_2013_2018[['date', 'month', 'day']] = gun_violence_2013_2018.date.str.split("-", expand=True)
gun_violence_2013_2018.columns = gun_violence_2013_2018.columns.str.replace('date', 'year')

In [19]:
# Create a new dataframe for latitude and longitude
location = gun_violence_2013_2018[['latitude','longitude']].copy()

In [20]:
# Drop unneeded columns
gun_violence_cleaned = gun_violence_2013_2018.drop(['city_or_county','address','incident_url',
                                                    'source_url','incident_url_fields_missing','congressional_district',
                                                    'gun_stolen','gun_type','incident_characteristics',
                                                    'location_description','n_guns_involved',
                                                     'notes','participant_age','participant_age_group',
                                                     'participant_gender','participant_name','participant_relationship',
                                                     'participant_status','participant_type','sources',
                                                     'state_house_district','state_senate_district','month','day','latitude','longitude'], axis=1)

In [21]:
gun_violence_cleaned

        incident_id  year           state  n_killed  n_injured
0            461105  2013    Pennsylvania         0          4
1            460726  2013      California         1          3
2            478855  2013            Ohio         1          3
3            478925  2013        Colorado         4          0
4            478959  2013  North Carolina         2          2
...             ...   ...             ...       ...        ...
239672      1083142  2018       Louisiana         0          0
239673      1083139  2018       Louisiana         1          0
239674      1083151  2018       Louisiana         0          1
239675      1082514  2018           Texas         1          0
239676      1081940  2018           Maine         2          0

[239677 rows x 5 columns]

In [22]:
gun_violence_cleaned.dtypes
gun_violence_cleaned['year'] = pd.to_numeric(gun_violence_cleaned['year'])

In [23]:
yearly_incidents = gun_violence_cleaned.groupby(['year', 'state']).size()
yearly_incidents

year  state
2013  Alabama            2
      Arizona            5
      California        39
      Colorado           3
      Connecticut        3
                      ...
2018  Virginia         293
      Washington       200
      West Virginia     80
      Wisconsin        376
      Wyoming           14
Length: 292, dtype: int64

## Merging and Exporting the Cleaned Data

In [24]:
# merge accidental deaths and gun violence cleaned to extend the gun violence dataset
merged_violence = pd.concat([gun_violence_cleaned, accidental_deaths], ignore_index=True)

In [25]:
merged_violence

        incident_id  year           state  n_killed  n_injured
0            461105  2013    Pennsylvania         0          4
1            460726  2013      California         1          3
2            478855  2013            Ohio         1          3
3            478925  2013        Colorado         4          0
4            478959  2013  North Carolina         2          2
...             ...   ...             ...       ...        ...
241672      2275341  2022           Texas         1          0
241673      2273835  2022         Georgia         1          0
241674      2274050  2022            Ohio         1          0
241675      2312692  2022         Indiana         1          0
241676      2442581  2022           Texas         1          0

[241677 rows x 5 columns]

In [28]:
# Update the yearly_incidents with the merged dataset
yearly_incidents = merged_violence.groupby(['year', 'state']).size()

In [26]:
# merge gun_law_2020 and with merged 
gun_laws_violence_merged = pd.merge(gun_law_2020, merged_violence, how='inner', left_on=['year','state'], right_on=['year', 'state'])

In [27]:
gun_laws_violence_merged

,state,year,felony,invcommitment,invoutpatient,danger,drugmisdemeanor,alctreatment,alcoholism,relinquishment,...,dvrosurrenderdating,expartesurrender,expartesurrendernoconditions,expartesurrenderdating,dvroremoval,stalking,lawtotal,incident_id,n_killed,n_injured
0,Alabama,2013,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,10,490395,0,4
1,Alabama,2013,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,10,496668,3,5
2,Alabama,2014,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,10,92342,1,0
3,Alabama,2014,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,10,94194,0,3
4,Alabama,2014,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,10,92337,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236477,Wyoming,2018,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,1073419,1,0
236478,Wyoming,2018,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,1076613,1,0
236479,Wyoming,2018,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,1074675,0,0
236480,Wyoming,2018,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,1076607,1,0
236481,Wyoming,2018,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,1079998,0,0

In [30]:
# Export the cleaned datasets 
gun_data.to_csv('cleaned_Gun_Data.csv', index=False)
gun_law_2020.to_csv('cleaned_gun_law_provisions_by_year.csv', index=False)
yearly_incidents.to_csv('yearly_incidents.csv', index=False)
gun_laws_violence_merged.to_csv('merged_gun_laws_violence.csv', index=False)