In [35]:
# Import Dependencies
import pandas as pd
import os
import numpy as np
import glob

In [28]:
# Import the data for inpection
accidental_deaths = pd.read_csv('accidental deaths 2018-2022.csv')
gun_data = pd.read_csv('Gun Data, Codebook, and OLS Regression Outputs - Gun Data.csv')
gun_laws = pd.read_csv('gun law provisions by year (through 2020) and state.csv')
gun_violence_2013_2018 = pd.read_csv('gun-violence-data_01-2013_03-2018.csv')

## Clean the Accidental Deaths 2018 - 2022 CSV file

In [4]:
# Look at the columns of accidental_deaths
accidental_deaths.count()

Incident ID       2000
Incident Date     2000
State             2000
City Or County    2000
Address           1898
# Killed          2000
# Injured         2000
Operations           0
dtype: int64

In [5]:
# Inspect the data in the Incident Date column
accidental_deaths['Incident Date']

0       October 21, 2022
1       October 19, 2022
2       October 19, 2022
3       October 19, 2022
4       October 18, 2022
              ...
1995     October 8, 2018
1996     October 8, 2018
1997     October 7, 2018
1998     October 7, 2018
1999     October 7, 2018
Name: Incident Date, Length: 2000, dtype: object

In [6]:
# Splitting the Incident Date column into three separate columns
accidental_deaths[['month', 'day', 'date']] = accidental_deaths['Incident Date'].str.split(" ", expand=True)

In [7]:
# Confirm the values of the date columns
accidental_deaths['date']

0       2022
1       2022
2       2022
3       2022
4       2022
        ...
1995    2018
1996    2018
1997    2018
1998    2018
1999    2018
Name: date, Length: 2000, dtype: object

In [8]:
# Rename the date column to year
accidental_deaths.rename(columns={'Incident ID':'incident_id', "State":'state', '# Killed':'deaths', '# Injured':'injuries', 'date':'year'}, inplace=True)

In [9]:
accidental_deaths = accidental_deaths.drop(['Operations', 'Address', 'Incident Date', 'month', 'day', 'City Or County'], axis=1)

In [10]:
accidental_deaths = accidental_deaths.sort_values(['year'], ascending = True)
accidental_deaths

      incident_id     state  deaths  injuries  year
1999      1227183     Texas       1         0  2018
1920      1274244  New York       1         0  2018
1921      1273747      Iowa       1         0  2018
1922      1275310      Iowa       1         0  2018
1923      1273048  Oklahoma       1         0  2018
...           ...       ...     ...       ...   ...
237       2275341     Texas       1         0  2022
238       2273835   Georgia       1         0  2022
239       2274050      Ohio       1         0  2022
175       2312692   Indiana       1         0  2022
0         2442581     Texas       1         0  2022

[2000 rows x 5 columns]

In [11]:
# Note sure what this is doing
year = accidental_deaths['year']
accidental_deaths.drop(labels=['year'], axis=1, inplace=True)
accidental_deaths.insert(1, 'year', year)
accidental_deaths.head(5)

      incident_id  year     state  deaths  injuries
1999      1227183  2018     Texas       1         0
1920      1274244  2018  New York       1         0
1921      1273747  2018      Iowa       1         0
1922      1275310  2018      Iowa       1         0
1923      1273048  2018  Oklahoma       1         0

In [12]:
# Saving the cleaned data as a new dataframe and exporting it to a CSV file
accidental_df = accidental_deaths
accidental_df.to_csv("cleaned_accidental_df.csv", index=False)

## Gun Violence Data

In [13]:
# Review all columns
gun_violence_2013_2018.columns.tolist()

['incident_id',
 'date',
 'state',
 'city_or_county',
 'address',
 'n_killed',
 'n_injured',
 'incident_url',
 'source_url',
 'incident_url_fields_missing',
 'congressional_district',
 'gun_stolen',
 'gun_type',
 'incident_characteristics',
 'latitude',
 'location_description',
 'longitude',
 'n_guns_involved',
 'notes',
 'participant_age',
 'participant_age_group',
 'participant_gender',
 'participant_name',
 'participant_relationship',
 'participant_status',
 'participant_type',
 'sources',
 'state_house_district',
 'state_senate_district']

In [14]:
# split the date column into separate columns for date, day, month
# replace date with year
gun_violence_2013_2018[['date', 'month', 'day']] = gun_violence_2013_2018.date.str.split("-", expand=True)
gun_violence_2013_2018.columns = gun_violence_2013_2018.columns.str.replace('date', 'year')

In [15]:
# Create a new dataframe for latitude and longitude
location = gun_violence_2013_2018[['latitude','longitude']].copy()

In [16]:
# Drop unneeded columns
gun_violence_cleaned = gun_violence_2013_2018.drop(['city_or_county','address','incident_url',
                                                    'source_url','incident_url_fields_missing','congressional_district',
                                                    'gun_stolen','gun_type','incident_characteristics',
                                                    'location_description','n_guns_involved',
                                                     'notes','participant_age','participant_age_group',
                                                     'participant_gender','participant_name','participant_relationship',
                                                     'participant_status','participant_type','sources',
                                                     'state_house_district','state_senate_district','month','day','latitude','longitude'], axis=1)

In [17]:
# Rename the date column to year
gun_violence_cleaned.rename(columns={'n_killed':'deaths', 'n_injured':'injuries'}, inplace=True)

In [18]:
gun_violence_cleaned

        incident_id  year           state  deaths  injuries
0            461105  2013    Pennsylvania       0         4
1            460726  2013      California       1         3
2            478855  2013            Ohio       1         3
3            478925  2013        Colorado       4         0
4            478959  2013  North Carolina       2         2
...             ...   ...             ...     ...       ...
239672      1083142  2018       Louisiana       0         0
239673      1083139  2018       Louisiana       1         0
239674      1083151  2018       Louisiana       0         1
239675      1082514  2018           Texas       1         0
239676      1081940  2018           Maine       2         0

[239677 rows x 5 columns]

In [19]:
gun_violence_cleaned.dtypes
gun_violence_cleaned['year'] = pd.to_numeric(gun_violence_cleaned['year'])

In [20]:
# Exporting the cleaned gun violence dataframe to a CSV file
gun_violence_cleaned.to_csv("cleaned_gun_violence.csv", index=False)

## Clean the Gun Data CSV

In [21]:
# Convert the columns to a list
gun_data.columns.tolist()

['State',
 'Year',
 'Gini-Indx',
 'PopDens',
 'Pov.%',
 'GnLwRnk (Low is strict)',
 'Pop.',
 'StateSqMi',
 'AllVlntCrm',
 'AllMrdr',
 'GunHom.Rate100k',
 'RapeRvsd',
 'RapeLgcy',
 'Robbery',
 'AggvtdAsslt',
 'MassShoot',
 'MassShoot100k',
 'MasShootY',
 'FirearmSuic',
 'AllSuic',
 'House%OwnGuns',
 'PolicKilledGun',
 'PoliceKilledGun100k',
 'NumOfPoliceOfficers',
 'PoliceOfficers100k',
 'GunRnkCATO',
 'GunRnkEvryTwn',
 'GunRnkAVG',
 'PrcntBlck',
 'PrcntHispORLat',
 'PrtyRepub.',
 'PrtyDemoc.',
 'AlchlPerCap',
 'MntlHlthRnk',
 'PrcntHSchl',
 'PrcntBchlr',
 'RdntHntLic',
 'RdntHntLic100k',
 'GunShow100k',
 'PrcntPopVet',
 'PrcntPopUrbn',
 'PrcntEvang.',
 'CntryV.Rck',
 'B5E',
 'B5A',
 'B5C',
 'B5N',
 'B5O',
 'IATScore',
 'UnHyphAm.',
 'PrcntUnHyphAm.',
 'PrcntConsrv',
 'FxNwsCnsmp.',
 'HnrCultr',
 'CensS',
 'CensNE',
 'CensMW',
 'CensW',
 'MnMrdrWmn']

In [22]:
# Deleting Unneeded columns
gun_data = gun_data.drop(['Gini-Indx','Pov.%','PrcntBlck','PrcntHispORLat','PrtyRepub.','PrtyDemoc.','AlchlPerCap','StateSqMi','B5E','B5A',
                'B5C','B5N','B5O','IATScore','HnrCultr','UnHyphAm.','PrcntUnHyphAm.','PrcntPopVet','PrcntPopUrbn','PrcntEvang.','CntryV.Rck',
                'AllMrdr','PrcntHSchl','PrcntBchlr','PrcntConsrv','AggvtdAsslt','AllSuic','AllVlntCrm','CensMW','CensNE','CensS','CensW',
                'MnMrdrWmn','RapeRvsd','Robbery', 'FxNwsCnsmp.','MntlHlthRnk','NumOfPoliceOfficers','PolicKilledGun','PoliceKilledGun100k',
                'PoliceOfficers100k','RapeLgcy'
              ], axis=1)

In [23]:
sorted(gun_data.columns.tolist())

['FirearmSuic',
 'GnLwRnk (Low is strict)',
 'GunHom.Rate100k',
 'GunRnkAVG',
 'GunRnkCATO',
 'GunRnkEvryTwn',
 'GunShow100k',
 'House%OwnGuns',
 'MasShootY',
 'MassShoot',
 'MassShoot100k',
 'Pop.',
 'PopDens',
 'RdntHntLic',
 'RdntHntLic100k',
 'State',
 'Year']

In [24]:
gun_data.head(5)

,State,Year,PopDens,GnLwRnk (Low is strict),Pop.,GunHom.Rate100k,MassShoot,MassShoot100k,MasShootY,FirearmSuic,House%OwnGuns,GunRnkCATO,GunRnkEvryTwn,GunRnkAVG,RdntHntLic,RdntHntLic100k,GunShow100k
0,Alabama,2016,95.839902,37,4863300,9.34,15,0.308433,1,11.31,69.81,9,16,12.5,567703,11673.205440,0.78
1,Alaska,2016,1.297129,44,741894,6.07,0,0.000000,0,15.23,58.55,4,5,4.5,320848,43247.148510,0.33
2,Arizona,2016,60.994157,47,6931071,4.37,4,0.057711,1,10.89,59.38,3,13,8.0,408602,5895.221676,1.20
3,Arkansas,2016,57.391258,38,2988248,6.09,3,0.100393,1,11.08,59.67,32,22,27.0,395700,13241.872830,1.42
4,California,2016,251.668817,1,39250017,3.74,47,0.119745,1,4.06,37.11,49,46,47.5,1014445,2584.572129,0.37

In [25]:
# Dropped the rest of the columns to condense the data to just Masshooting, year, and state
mass_shootings_df = gun_data.drop(['RdntHntLic100k','GunShow100k','House%OwnGuns','GunRnkCATO','GunRnkEvryTwn','GunRnkAVG','RdntHntLic','PopDens','GnLwRnk (Low is strict)','Pop.','GunHom.Rate100k','MassShoot100k','MasShootY','FirearmSuic'], axis=1)
mass_shootings_df

             State  Year  MassShoot
0          Alabama  2016         15
1           Alaska  2016          0
2          Arizona  2016          4
3         Arkansas  2016          3
4       California  2016         47
..             ...   ...        ...
195       Virginia  2013          6
196     Washington  2013          4
197  West Virginia  2013          2
198      Wisconsin  2013          1
199        Wyoming  2013          0

[200 rows x 3 columns]

##### Not saving mass_shooting_df for further integration as year range not wide enough to match rest of datasets

## Inspect gun law provisions by year (through 2020) and state.csv

In [29]:
#Count the non-null values
gun_laws.count()

state                           1500
year                            1500
felony                          1500
invcommitment                   1500
invoutpatient                   1500
                                ...
expartesurrendernoconditions    1500
expartesurrenderdating          1500
dvroremoval                     1500
stalking                        1500
lawtotal                        1500
Length: 137, dtype: int64

In [30]:
# Convert the columns into a list
gun_laws.columns.tolist()

['state',
 'year',
 'felony',
 'invcommitment',
 'invoutpatient',
 'danger',
 'drugmisdemeanor',
 'alctreatment',
 'alcoholism',
 'relinquishment',
 'violent',
 'violenth',
 'violentpartial',
 'dealer',
 'dealerh',
 'recordsall',
 'recordsallh',
 'recordsdealer',
 'recordsdealerh',
 'reportall',
 'reportallh',
 'reportdealer',
 'reportdealerh',
 'purge',
 'residential',
 'theft',
 'security',
 'inspection',
 'ammlicense',
 'ammrecords',
 'permit',
 'permith',
 'fingerprint',
 'training',
 'permitlaw',
 'registration',
 'registrationh',
 'defactoreg',
 'defactoregh',
 'ammpermit',
 'ammrestrict',
 'age21handgunsale',
 'age18longgunsale',
 'age21longgunsaled',
 'age21longgunsale',
 'age21handgunpossess',
 'age18longgunpossess',
 'age21longgunpossess',
 'loststolen',
 'amm18',
 'amm21h',
 'universal',
 'universalh',
 'gunshow',
 'gunshowh',
 'universalpermit',
 'universalpermith',
 'backgroundpurge',
 'ammbackground',
 'threedaylimit',
 'mentalhealth',
 'statechecks',
 'statechecksh',
 'waiting',
 'waitingh',
 'assault',
 'onefeature',
 'assaultlist',
 'assaultregister',
 'assaulttransfer',
 'magazine',
 'tenroundlimit',
 'magazinepreowned',
 'onepermonth',
 'traffickingbackground',
 'traffickingprohibited',
 'traffickingprohibitedh',
 'strawpurchase',
 'strawpurchaseh',
 'microstamp',
 'gvro',
 'gvrolawenforcement',
 'college',
 'collegeconcealed',
 'elementary',
 'opencarryh',
 'opencarryl',
 'opencarrypermith',
 'opencarrypermitl',
 'permitconcealed',
 'mayissue',
 'showing',
 'ccbackground',
 'ccbackgroundnics',
 'ccrenewbackground',
 'ccrevoke',
 'nosyg',
 'personalized',
 'lockd',
 'lockp',
 'locked',
 'lockstandards',
 'capliability',
 'capaccess',
 'capuses',
 'capunloaded',
 'cap18',
 'cap16',
 'cap14',
 'junkgun',
 'liability',
 'immunity',
 'preemption',
 'preemptionnarrow',
 'preemptionbroad',
 'mcdv',
 'mcdvdating',
 'mcdvsurrender',
 'mcdvsurrendernoconditions',
 'mcdvsurrenderdating',
 'mcdvremovalallowed',
 'mcdvremovalrequired',
 'incidentremoval',
 'incidentall',
 'dvro',
 'dvrodating',
 'exparte',
 'expartedating',
 'dvrosurrender',
 'dvrosurrendernoconditions',
 'dvrosurrenderdating',
 'expartesurrender',
 'expartesurrendernoconditions',
 'expartesurrenderdating',
 'dvroremoval',
 'stalking',
 'lawtotal']

In [31]:
# Check the data type of the year 
gun_laws['year'].dtypes

# Filter the dataset by years from 2013-2020
gun_laws = gun_laws[gun_laws['year'] >= 2013]

In [32]:
# Inspecting the gun laws data types
gun_laws.dtypes

state                           object
year                             int64
felony                           int64
invcommitment                    int64
invoutpatient                    int64
                                 ...
expartesurrendernoconditions     int64
expartesurrenderdating           int64
dvroremoval                      int64
stalking                         int64
lawtotal                         int64
Length: 137, dtype: object

In [33]:
gun_laws

,state,year,felony,invcommitment,invoutpatient,danger,drugmisdemeanor,alctreatment,alcoholism,relinquishment,...,expartedating,dvrosurrender,dvrosurrendernoconditions,dvrosurrenderdating,expartesurrender,expartesurrendernoconditions,expartesurrenderdating,dvroremoval,stalking,lawtotal
22,Alabama,2013,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,10
23,Alabama,2014,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,10
24,Alabama,2015,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,10
25,Alabama,2016,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,10
26,Alabama,2017,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,Wyoming,2016,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
1496,Wyoming,2017,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
1497,Wyoming,2018,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1498,Wyoming,2019,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1499,Wyoming,2020,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7

## Merging cleaned incidents

In [36]:
# setting the path for joining multiple files
files = os.path.join("cleaned*.csv")

# list of merged files returned
files = glob.glob(files)

# joining files with concat and read_csv
merged_yearly_incidents_df = pd.concat(map(pd.read_csv, files), ignore_index=True)

In [37]:
merged_yearly_incidents_df

        incident_id  year      state  deaths  injuries
0           1227183  2018      Texas       1         0
1           1274244  2018   New York       1         0
2           1273747  2018       Iowa       1         0
3           1275310  2018       Iowa       1         0
4           1273048  2018   Oklahoma       1         0
...             ...   ...        ...     ...       ...
241672      1083142  2018  Louisiana       0         0
241673      1083139  2018  Louisiana       1         0
241674      1083151  2018  Louisiana       0         1
241675      1082514  2018      Texas       1         0
241676      1081940  2018      Maine       2         0

[241677 rows x 5 columns]

### Separate out merged_yearly_incidents_df and gun_laws by year

In [38]:
merged_2013_incidents_df = merged_yearly_incidents_df.loc[merged_yearly_incidents_df['year'] == 2013]
merged_2013_incidents_df.head(5)

      incident_id  year           state  deaths  injuries
2000       461105  2013    Pennsylvania       0         4
2001       460726  2013      California       1         3
2002       478855  2013            Ohio       1         3
2003       478925  2013        Colorado       4         0
2004       478959  2013  North Carolina       2         2

In [39]:
# Creating individual yearly incidents dataframes for each year
merged_2014_incidents_df = merged_yearly_incidents_df.loc[merged_yearly_incidents_df['year'] == 2014]
merged_2015_incidents_df = merged_yearly_incidents_df.loc[merged_yearly_incidents_df['year'] == 2015]
merged_2016_incidents_df = merged_yearly_incidents_df.loc[merged_yearly_incidents_df['year'] == 2016]
merged_2017_incidents_df = merged_yearly_incidents_df.loc[merged_yearly_incidents_df['year'] == 2017]
merged_2018_incidents_df = merged_yearly_incidents_df.loc[merged_yearly_incidents_df['year'] == 2018]
merged_2019_incidents_df = merged_yearly_incidents_df.loc[merged_yearly_incidents_df['year'] == 2019]
merged_2020_incidents_df = merged_yearly_incidents_df.loc[merged_yearly_incidents_df['year'] == 2020]

In [40]:
# Inspecting the dataframe for 2013 to confirm the dataframe creation was successful
gun_laws_2013_df = gun_laws.loc[gun_laws['year'] == 2013]
gun_laws_2013_df.head(5)

,state,year,felony,invcommitment,invoutpatient,danger,drugmisdemeanor,alctreatment,alcoholism,relinquishment,...,expartedating,dvrosurrender,dvrosurrendernoconditions,dvrosurrenderdating,expartesurrender,expartesurrendernoconditions,expartesurrenderdating,dvroremoval,stalking,lawtotal
22,Alabama,2013,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,10
52,Alaska,2013,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
82,Arizona,2013,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,8
112,Arkansas,2013,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
142,California,2013,1,1,0,1,0,0,1,0,...,1,1,1,1,1,1,1,1,1,99

In [41]:
# Create individaul gun laws dataframe for each year
gun_laws_2014_df = gun_laws.loc[gun_laws['year'] == 2014]
gun_laws_2015_df = gun_laws.loc[gun_laws['year'] == 2015]
gun_laws_2016_df = gun_laws.loc[gun_laws['year'] == 2016]
gun_laws_2017_df = gun_laws.loc[gun_laws['year'] == 2017]
gun_laws_2018_df = gun_laws.loc[gun_laws['year'] == 2018]
gun_laws_2019_df = gun_laws.loc[gun_laws['year'] == 2019]
gun_laws_2020_df = gun_laws.loc[gun_laws['year'] == 2020]

In [42]:
gun_laws_2018_df.head()

,state,year,felony,invcommitment,invoutpatient,danger,drugmisdemeanor,alctreatment,alcoholism,relinquishment,...,expartedating,dvrosurrender,dvrosurrendernoconditions,dvrosurrenderdating,expartesurrender,expartesurrendernoconditions,expartesurrenderdating,dvroremoval,stalking,lawtotal
27,Alabama,2018,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,10
57,Alaska,2018,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
87,Arizona,2018,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,8
117,Arkansas,2018,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
147,California,2018,1,1,0,1,0,0,1,1,...,1,1,1,1,1,1,1,1,1,109

# Grouping Deaths and Injury by State

In [43]:
# Using groupby to group the total numbers of deaths and injury by state for the year 2013
merged_2013_incidents_df = merged_2013_incidents_df.groupby(['state']).sum()
merged_2013_incidents_df = merged_2013_incidents_df.drop(['incident_id','year'], axis=1)
merged_2013_incidents_df.head(5)

             deaths  injuries
state
Alabama           3         9
Arizona           8        16
California       46       139
Colorado          4         9
Connecticut       2        13

In [44]:
# Use the same groupby code for the rest of the dataframes
merged_2014_incidents_df = merged_2014_incidents_df.groupby(['state']).sum()
merged_2014_incidents_df = merged_2014_incidents_df.drop(['incident_id','year'], axis=1)
merged_2015_incidents_df = merged_2015_incidents_df.groupby(['state']).sum()
merged_2015_incidents_df = merged_2015_incidents_df.drop(['incident_id','year'], axis=1)
merged_2016_incidents_df = merged_2016_incidents_df.groupby(['state']).sum()
merged_2016_incidents_df = merged_2016_incidents_df.drop(['incident_id','year'], axis=1)
merged_2017_incidents_df = merged_2017_incidents_df.groupby(['state']).sum()
merged_2017_incidents_df = merged_2017_incidents_df.drop(['incident_id','year'], axis=1)
merged_2018_incidents_df = merged_2018_incidents_df.groupby(['state']).sum()
merged_2018_incidents_df = merged_2018_incidents_df.drop(['incident_id','year'], axis=1)
merged_2019_incidents_df = merged_2019_incidents_df.groupby(['state']).sum()
merged_2019_incidents_df = merged_2019_incidents_df.drop(['incident_id','year'], axis=1)
merged_2020_incidents_df = merged_2020_incidents_df.groupby(['state']).sum()
merged_2020_incidents_df = merged_2020_incidents_df.drop(['incident_id','year'], axis=1)

## Merge merged_yearly_incidents_df and gun_laws datasets by year

In [45]:
# Merge all of the individaul incident and gun law dataframes accordingly
merged_law_incidents_2013 = pd.merge(gun_laws_2013_df, merged_2013_incidents_df, how='inner', left_on=['state'], right_on=['state'])
merged_law_incidents_2014 = pd.merge(gun_laws_2014_df, merged_2014_incidents_df, how='inner', left_on=['state'], right_on=['state'])
merged_law_incidents_2015 = pd.merge(gun_laws_2015_df, merged_2015_incidents_df, how='inner', left_on=['state'], right_on=['state'])
merged_law_incidents_2016 = pd.merge(gun_laws_2016_df, merged_2016_incidents_df, how='inner', left_on=['state'], right_on=['state'])
merged_law_incidents_2017 = pd.merge(gun_laws_2017_df, merged_2017_incidents_df, how='inner', left_on=['state'], right_on=['state'])
merged_law_incidents_2018 = pd.merge(gun_laws_2018_df, merged_2018_incidents_df, how='inner', left_on=['state'], right_on=['state'])
merged_law_incidents_2019 = pd.merge(gun_laws_2019_df, merged_2019_incidents_df, how='inner', left_on=['state'], right_on=['state'])
merged_law_incidents_2020 = pd.merge(gun_laws_2020_df, merged_2020_incidents_df, how='inner', left_on=['state'], right_on=['state'])

In [46]:
merged_law_incidents_2020.head()

,state,year,felony,invcommitment,invoutpatient,danger,drugmisdemeanor,alctreatment,alcoholism,relinquishment,...,dvrosurrendernoconditions,dvrosurrenderdating,expartesurrender,expartesurrendernoconditions,expartesurrenderdating,dvroremoval,stalking,lawtotal,deaths,injuries
0,Alabama,2020,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,10,19,6
1,Alaska,2020,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,1,0
2,Arizona,2020,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,1,8,12,0
3,Arkansas,2020,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,11,6,1
4,California,2020,1,1,0,1,0,0,1,1,...,1,1,1,1,1,1,1,111,19,6

In [49]:
merged_law_incidents_2013.to_csv("to_merge\merged_law_incidents_2013.csv", index=False)
merged_law_incidents_2014.to_csv("to_merge\merged_law_incidents_2014.csv", index=False)
merged_law_incidents_2015.to_csv("to_merge\merged_law_incidents_2015.csv", index=False)
merged_law_incidents_2016.to_csv("to_merge\merged_law_incidents_2016.csv", index=False)
merged_law_incidents_2017.to_csv("to_merge\merged_law_incidents_2017.csv", index=False)
merged_law_incidents_2018.to_csv("to_merge\merged_law_incidents_2018.csv", index=False)
merged_law_incidents_2019.to_csv("to_merge\merged_law_incidents_2019.csv", index=False)
merged_law_incidents_2020.to_csv("to_merge\merged_law_incidents_2020.csv", index=False)

In [50]:
merged_law_incidents_2018.head()

,state,year,felony,invcommitment,invoutpatient,danger,drugmisdemeanor,alctreatment,alcoholism,relinquishment,...,dvrosurrendernoconditions,dvrosurrenderdating,expartesurrender,expartesurrendernoconditions,expartesurrenderdating,dvroremoval,stalking,lawtotal,deaths,injuries
0,Alabama,2018,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,10,140,219
1,Alaska,2018,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,11,19
2,Arizona,2018,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,1,8,86,73
3,Arkansas,2018,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,11,47,83
4,California,2018,1,1,0,1,0,0,1,1,...,1,1,1,1,1,1,1,109,306,432

## Merge all back into one dataset

In [55]:
# setting the path for joining multiple files
files = os.path.join(r".\to_merge\merged*.csv")

# list of merged files returned
files = glob.glob(files)

# joining files with concat and read_csv
merged_yearly_incidents_df = pd.concat(map(pd.read_csv, files), ignore_index=True)

In [56]:
merged_yearly_incidents_df.head()

,state,year,felony,invcommitment,invoutpatient,danger,drugmisdemeanor,alctreatment,alcoholism,relinquishment,...,dvrosurrendernoconditions,dvrosurrenderdating,expartesurrender,expartesurrendernoconditions,expartesurrenderdating,dvroremoval,stalking,lawtotal,deaths,injuries
0,Alabama,2013,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,10,3,9
1,Arizona,2013,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,1,8,8,16
2,California,2013,1,1,0,1,0,0,1,0,...,1,1,1,1,1,1,1,99,46,139
3,Colorado,2013,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,30,4,9
4,Connecticut,2013,1,1,1,1,1,0,0,1,...,1,1,0,0,0,0,1,82,2,13

In [57]:
merged_yearly_incidents_df.tail()

,state,year,felony,invcommitment,invoutpatient,danger,drugmisdemeanor,alctreatment,alcoholism,relinquishment,...,dvrosurrendernoconditions,dvrosurrenderdating,expartesurrender,expartesurrendernoconditions,expartesurrenderdating,dvroremoval,stalking,lawtotal,deaths,injuries
368,Virginia,2020,1,1,1,1,0,0,0,0,...,1,0,0,0,0,0,0,25,18,0
369,Washington,2020,1,1,1,1,0,0,0,0,...,0,1,1,0,1,0,0,55,6,8
370,West Virginia,2020,1,1,1,1,0,0,1,0,...,0,0,0,0,0,0,0,18,4,1
371,Wisconsin,2020,1,1,1,1,0,1,0,0,...,1,1,0,0,0,0,1,23,9,0
372,Wyoming,2020,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,7,1,0

In [58]:
# Export the final dataset
merged_yearly_incidents_df.to_csv('merged_yearly_laws_incidents_df.csv', index=False)